<aside class="aside aside-open">
    <button class="btn btn-icon btn-close">
      <span class="sr-only">Close button</span>
    </button>
    <ul class="list">
      <li class="list__item f-700 clr-black">
        <a href="#" class="link">Collections</a>
      </li>
      <li class="list__item f-700 clr-black">
        <a href="#" class="link">Men</a>
      </li>
      <li class="list__item f-700 clr-black">
        <a href="#" class="link">Women</a>
      </li>
      <li class="list__item f-700 clr-black">
        <a href="#" class="link">About</a>
      </li>
      <li class="list__item f-700 clr-black">
        <a href="#" class="link">Contact</a>
      </li>
  </ul>
</aside>