<div class="basket-container">
    <!-- Filled -->
    <button class="btn btn-icon btn-cart">
      <span class="sr-only">User Cart</span>
    </button>
    <div class="basket-card">
      <div class="basket-card__title">
        <span>Cart</span>
      </div>
      <div class="basket-card__content">
        <div class="basket-card__product">
          <img src="./images/image-product-4-thumbnail.jpg" alt="Product image">
          <div class="product-description">
            <span class="product-title">Autumn Limited Edition...</span>
            <div class="product-calculation">
              <span class="product-calculation__base-price">$125.00</span>
              <span class="product-calculation__quantity">x 3</span>
              <span class="product-calculation__total-price">$375.00</span>
            </div>
          </div>
        </div>
        <button class="btn btn-icon btn-delete">
          <span class="sr-only">Delete button</span>
        </button>
      </div>
      <div class="basket-card__footer">
        <button class="btn btn-primary btn-block btn-action-cart">
          <span class="btn-action-cart-text">Checkout</span>
        </button>
      </div>
    </div>
</div>

<div class="basket-container">
<!-- Empty -->
<button class="btn btn-icon btn-cart active">
    <span class="sr-only">User Cart</span>
</button>
<div class="basket-card">
    <div class="basket-card__title">
        <span>Cart</span>
        </div>
        <div class="basket-card__content basket-card__content-empty">
        <div class="basket-card__product">
            <img src="./images/image-product-4-thumbnail.jpg" alt="Product image">
            <div class="product-description">
            <span class="product-title">Autumn Limited Edition...</span>
            <div class="product-calculation">
                <span class="product-calculation__base-price">$125.00</span>
                <span class="product-calculation__quantity">x 3</span>
                <span class="product-calculation__total-price">$375.00</span>
            </div>
            </div>
        </div>
        <button class="btn btn-icon btn-delete">
            <span class="sr-only">Delete button</span>
        </button>
        <span class="basket-card__content-empty-text">Your cart is empty.</span>
        </div>
        <div class="basket-card__footer">
            <button class="btn btn-primary btn-block btn-action-cart">
                <span class="btn-action-cart-text">Checkout</span>
            </button>
        </div>
    </div>
</div>