<button class="btn btn-icon btn-menu">
  <span class="sr-only">Menu button</span>
</button>
<button class="btn btn-icon btn-cart">
    <span class="sr-only">User Cart</span>
  </button>
  <button class="btn btn-icon btn-avatar">
    <span class="sr-only">User Avatar</span>
  </button>
  <button class="btn btn-icon btn-minus">
    <span class="sr-only">Decrease button</span>
  </button>
  <button class="btn btn-icon btn-add">
    <span class="sr-only">Add button</span>
  </button>
  <button class="btn btn-icon btn-close">
    <span class="sr-only">Close button</span>
  </button>
  <button class="btn btn-icon btn-delete">
    <span class="sr-only">Delete button</span>
  </button>
  <button class="btn btn-icon btn-control btn-next">
    <span class="sr-only">Next button</span>
  </button>
  <button class="btn btn-icon btn-control btn-prev">
    <span class="sr-only">Prev button</span>
  </button>
  <button class="btn btn-primary btn-action-cart">
    <img src="./images/icon-cart.svg" alt="Cart icon">
    <span class="btn-action-cart-text">Add to cart</span>
  </button>
  <button class="btn btn-product btn-thumbnail-1">
    <span class="sr-only">Product thumbnail</span>
    <span class="btn-thumbnail-container"></span>
  </button>
  <button class="btn btn-product btn-thumbnail-2">
    <span class="sr-only">Product thumbnail</span>
    <span class="btn-thumbnail-container"></span>
  </button>
  <button class="btn btn-product btn-thumbnail-3">
    <span class="sr-only">Product thumbnail</span>
    <span class="btn-thumbnail-container"></span>
  </button>
  <button class="btn btn-product btn-product-active btn-thumbnail-4">
    <span class="sr-only">Product thumbnail</span>
    <span class="btn-thumbnail-container"></span>
  </button>