<div class="gallery">
    <div class="main-highlight">
      <button class="btn btn-icon btn-control btn-prev">
        <span class="sr-only">Prev button</span>
      </button>
      <button class="btn btn-icon btn-control btn-next">
        <span class="sr-only">Next button</span>
      </button>
    </div>
    <div class="highlight-buttons">
      <button class="btn btn-product btn-thumbnail-1">
        <span class="sr-only">Product thumbnail</span>
        <span class="btn-thumbnail-container"></span>
      </button>
      <button class="btn btn-product btn-thumbnail-2">
        <span class="sr-only">Product thumbnail</span>
        <span class="btn-thumbnail-container"></span>
      </button>
      <button class="btn btn-product btn-thumbnail-3">
        <span class="sr-only">Product thumbnail</span>
        <span class="btn-thumbnail-container"></span>
      </button>
      <button class="btn btn-product btn-product-active btn-thumbnail-4">
        <span class="sr-only">Product thumbnail</span>
        <span class="btn-thumbnail-container"></span>
      </button>
    </div>
</div>