<ul class="list">
    <li class="list__item f-700 clr-black">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item f-700 clr-black">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item f-700 clr-black">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item f-700 clr-black">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item f-700 clr-black">
      <a href="#" class="link">Collections</a>
    </li>
</ul>

<ul class="list list-inline">
    <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
      <a href="#" class="link">Collections</a>
    </li>
    <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
      <a href="#" class="link">Collections</a>
    </li>
</ul>