<nav class="nav">
    <div class="brand-container">
      <button class="btn btn-icon btn-menu">
        <span class="sr-only">Menu button</span>
      </button>
      <img src="./images/logo.svg" alt="Brand logo">
      <ul class="list list-inline">
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Collections</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Men</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Women</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">About</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="user-buttons">
      <button class="btn btn-icon btn-cart">
        <span class="sr-only">User Cart</span>
      </button>
      <button class="btn btn-icon btn-avatar">
        <span class="sr-only">User Cart</span>
      </button>
    </div>
  </nav>

  <!-- New -->

  <nav class="nav">
    <div class="brand-container">
      <button class="btn btn-icon btn-menu">
        <span class="sr-only">Menu button</span>
      </button>
      <img src="./images/logo.svg" alt="Brand logo">
      <ul class="list list-inline">
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Collections</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Men</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Women</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">About</a>
        </li>
        <li class="list__item clr-gray-blue" style="--my: 0; --mx: 1.2rem">
          <a href="#" class="link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="user-buttons">
      <div class="basket-container">
        <!-- Filled -->
        <button class="btn btn-icon btn-cart btn-badge">
          <span class="sr-only">User Cart</span>
          <span class="badge-text">0</span>
        </button>
        <div class="basket-card">
          <div class="basket-card__title">
            <span>Cart</span>
          </div>
          <div class="basket-card__content">
            <div class="basket-card__product">
              <img src="./images/image-product-4-thumbnail.jpg" alt="Product image">
              <div class="product-description">
                <span class="product-title">Autumn Limited Edition...</span>
                <div class="product-calculation">
                  <span class="product-calculation__base-price">$125.00</span>
                  <span class="product-calculation__quantity">x 3</span>
                  <span class="product-calculation__total-price">$375.00</span>
                </div>
              </div>
            </div>
            <button class="btn btn-icon btn-delete">
              <span class="sr-only">Delete button</span>
            </button>
          </div>
          <div class="basket-card__footer">
            <button class="btn btn-primary btn-block btn-action-cart">
              <span class="btn-action-cart-text">Checkout</span>
            </button>
          </div>
        </div>
      </div>
      <button class="btn btn-icon btn-avatar">
        <span class="sr-only">User Cart</span>
      </button>
    </div>
  </nav>